body{
	background-color: lightgray;
}
.picture{
	height: 500px;
	width: 500px;
	margin: 0 auto;
}
table{
	height: 500px;
	width: 500px;
	border-spacing: 0;
	border-collapse: collapse;
	border: 4px solid black;
}
td{
	width: 55px;
	border: 4px solid black;
}
.white{
	background-color: white;
}
.yellow{
	background-color: yellow;
}
.red{
	background-color: red;
}
.black{
	background-color: black;
}
.blue{
	background-color: blue;
}