body{
	background-color: #f9f9f9;
}
.wrapper{
	width: 968px;
	height: 100%;
	padding: 50px 46px 60px;
	border: 1px solid #dbdbdb;
	border-right-style: solid;
	border-left-style: solid;
	margin: auto;
	background-color: #FFFFFF;
}
.logo{
	font-size: 36px;
}
/*HEADER MENU*/
.navigation{
	width: 100%;
	display: inline-block;
	background-color: #5c5c5c;
	margin-top: 40px;
	width: 100%;
}
.navigation li{
    display: inline;
    line-height: 40px;
    height: 40px;
}
.menubutton{
	width: 144px;
	height: 40px;
	float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
}
.active{
	background-color: #464646;
	border-width: 1px;
	width: 142px;
	border-color: #838383;
	border-left-style: solid;
	border-right-style: solid;
}
.menubutton:hover{
	background-color: #464646;
	border-width: 1px;
	width: 142px;
	border-color: #838383;
	border-left-style: solid;
	border-right-style: solid;
}
/*Sidebar MENU*/
.left{
	width: 240px;
	float: left;
	margin-top: 40px;
}
.left ul{
	width: 240px;
	line-height: 40px;
  height: 40px;
}
.leftmenubutton{
	width: 240px;
	height: 40px;
	float: left;
	vertical-align: middle;
	color: #656363;
	border: 1px solid #c8c8c8;
	padding-left: 23px;
	text-decoration: none;
}
.leftmenubutton:hover{
	background-color: #f9f9f9;
	border-width: 1px;
	color: #000000;
	width: 228px;
	padding-left: 35px;
}
/*CENTER*/
.centercontent{
	width: 100%;
	display: inline-block;
}
.center img{
	border: 1px solid lightgray;
	margin-left: 40px;
}

.center{
	width: 685px;
	float: right;
	margin-top: 40px;
}
.text{
	margin-left: 66px;
	margin-top: 40px;
	width: 556px;
}
/*FOOTER*/
.footer{
	width: 100%;
	display: inline-block;
	background-color: lightgray;
	margin-top: 62px;
}
.footer ul{
	width: 100%;
  margin: 0;
  padding: 0;
}
.footer ul li{
    display: inline;
    line-height: 40px;
    height: 40px;
}
.footerbutton{
	width: 124px;
	height: 40px;
	float: left;
	text-align: center;
	vertical-align: middle;
	color: black;
	text-decoration: none;
}
.footerbutton:hover{
	text-decoration: underline;
}
.footerbutton5{
	padding-left: 280px;
}
