@font-face{
	font-family: Tahoma;
	src: url(../fonts/Tahoma.ttf);
}
body{
background: url(../img/background.jpg);
}
.wrapper{
	width: 1000px;
	height: 990px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.86);
-moz-box-shadow:    0px 3px 9px 0px rgba(50, 50, 50, 0.86);
box-shadow:         0px 3px 9px 0px rgba(50, 50, 50, 0.86);
  margin: auto;
}
/*HEADER*/
.header{
	height: 213px;
	background-color: white;
	position: relative;
}
.header img{
	padding-left: 30px;
	padding-top: 50px;
}
.header_menu{
	position: absolute;
	bottom: 7px;
	right: 32px;
}
.contacts_header{
	float: right;
	position: absolute;
	bottom: 100px;
	right: 32px;
}
.contacts_header form{
  margin: 0;
}
/*NAVIGATION*/
#nav{
	margin-top: -3px;
	width: 1000px;
	list-style: none;
	display: inline-block;
	background-color: #363636;
	border-bottom: 1px solid black;
	border-top: 1px solid white;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.84);
-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.84);
box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.84);
}
#nav ul{
	width: 1000px;
  margin: 0;
  padding: 0;
}
#nav ul li{
    display: inline;
    line-height: 30px;
    height: 30px;
}
#nav li a{
	color: white;
	text-decoration: none;
}
.menu_button1{
  width: 175px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
/*ВЫПАДАЮЩИЕ ЕЛЕМЕНТЫ СПИСКА*/
.menu_button2{
  width: 150px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
.submenu2{
	display: none;
	width: 150px;
	background: #363636;
	text-align: center;
	vertical-align: middle;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.84);
-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.84);
box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.84);
}
.submenu2 li{
	list-style-type: none;
	display: block;
	height: 30px;
	}
	.plus{
	display: inline-block;
	-webkit-transition: .3s ease-in-out;
  	-moz-transition: .3s ease-in-out;
  	-o-transition: .3s ease-in-out;
	}
.menu_button3{
  width: 95px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
.menu_button4{
  width: 145px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
.menu_button5{
  width: 175px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
.menu_button6{
  width: 115px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
.menu_button7{
  width: 145px;
  height: 30px;
  float: left;
	text-align: center;
	vertical-align: middle;
	color: white;
	text-decoration: none;
	font-family: Tahoma;
}
/*3 CENTER COLUMNS*/
.fon{
	width: 1000px;
	background-color: white;
  float: left;
  margin-top: -2px;
  overflow: hidden;
}
.left_column{
width: 200px;
padding-bottom: 20000px;
margin-bottom: -20000px;
float: left;
background: lightgray;
border-right: 1px solid gray;
}
.left_column p{
	text-align: center;
}
.right_column{
width: 200px;
padding-bottom: 20000px;
margin-bottom: -20000px;
float: right;
background: lightgray;
border-left: 1px solid gray;
}
.right_column p{
	font-size: 14px;
	line-height: 23px;
	text-align: center;
}
/*FOOTER*/
footer{
	width: 1000px;
	height: 30px;
}
footer p{
	text-align: center;
	color: white;
	font-family: Tahoma;
	font-size: 12px;
}
