@font-face{
	font-family: Tahoma;
	src: url(../fonts/Tahoma.ttf);
}
body{
background: url(../img/background.jpg);
font-family: Tahoma, Arial , sans-serif;
}
.wrapper{
	width: 1000px;
	height: 990px;
	-webkit-box-shadow: 0px 3px 9px 0px rgba(50, 50, 50, 0.86);
-moz-box-shadow:    0px 3px 9px 0px rgba(50, 50, 50, 0.86);
box-shadow:         0px 3px 9px 0px rgba(50, 50, 50, 0.86);
  margin: auto;
}
/*HEADER*/
.header{
	height: 213px;
	background-color: white;
	position: relative;
}
.header img{
	padding-left: 30px;
	padding-top: 50px;
}
.header_menu{
	position: absolute;
	bottom: 7px;
	right: 32px;
}
.header_menu li{
	float: left;
	}
.contacts_header{
    float: right;
    line-height: 19px;
    font-size: 14px;
    color: #5fa5bb;
    margin: 10px 30px;
}
.contacts_header h2{
	font-weight: 600;
}
/*NAVIGATION*/
.clearfix:after{
  content: '';
  display: block;
  clear: both;
  height: 0;
  width: 100%;
}
.menu{
	margin-top: -1px;
	width: 1000px;
	border-top: 1px solid white;
  border-bottom: 1px solid #000;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,303030+100 */
  background: rgb(55,55,55); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  position: absolute;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}


.menu li{
  position: relative;
  float: left;
}
.menu li a{
  position: relative;
  padding: 0 33px;
  display: block;
  line-height: 28px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.menu ul+a:after{
	content: '\25be';
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  right: 10px;
  height: 6px;
  width: 5px;
}

.trip{
  /*display: none;*/
  width: 118px;
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.service{
	width: 77px;
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.partneram{
	width: 103px;
  position: absolute;
  left: 23px;
  visibility: hidden;
  top: 0;
  opacity: 0;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
.menu li:hover ul{
  visibility: visible;
  opacity: 1;
  top: 100%;
}

.menu ul li{
  background: #303030;
}
.menu ul a{
  padding: 0 10px;
}
/*3 CENTER COLUMNS*/
.fon{
	width: 1000px;
	height: 511px;
	background-color: white;
  float: left;
  margin-top: 28px;
  overflow: hidden;
  z-index: -1;
}
.left_column{
width: 200px;
padding-bottom: 20000px;
margin-bottom: -20000px;
float: left;
background: lightgray;
border-right: 1px solid gray;
}
.left_column h2{
  text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #424c43;
}
.left_column p{
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #424c43;
}
.center_column{
	background-color: white;
	float: left;
	padding-bottom: 20000px;
  margin-bottom: -20000px;
  width: 598px;

}
.right_column{
width: 200px;
padding-bottom: 20000px;
margin-bottom: -20000px;
float: right;
background: lightgray;
border-left: 1px solid gray;
}
.right_column h2{
	text-align: center;
	font-size: 18px;
	line-height: 25px;
	color: #424c43;
}
.right_column p{
	text-align: center;
	font-size: 14px;
	line-height: 24px;
	color: #424c43;
}
/*FOOTER*/
footer{
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}
footer p{
	text-align: center;
	color: white;
	font-size: 12px;
	line-height: 32px;
}
